<div>
  <header>
    <nav>
      <a *ngFor="let topic of topics" (click)="selectTopic(topic)">{{ topic }}</a>
    </nav>
  </header>
  <main>
    <div class="left-content">
      <div *ngFor="let question of (questionsForGivenTopic$ | async); let i = index" (click)="selectQuestion(question)">
        {{ i + 1 }}. {{ question.question }}
      </div>
    </div>
    <div class="right-content">
      <div *ngIf="selectedQuestion$ | async as question">
        <h2>{{ question.question }}</h2>
        <p>{{ question.answer }}</p>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</div>
